body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height:normal
}

a {
  color: #00B7FF;
}

#question {
  padding: 10px;
}
.green {
  background-color: green;
  padding: 5px;
  /* width: 60px; */
  display: inline-block;
  margin-left: 10px;
  color: white;
}

.red {
  background-color: red;
  padding: 5px;
  /* width: 60px; */
  display: inline-block;
  margin-left: 10px;
  color: white;
}


li {
  list-style-type: decimal;
}

.img1 {
  width: 25vw;
}

.img2 {
  width: 50vw;

}

.img3 {
  width: 50vw;

}

.img4 {
  width: 35vw;

}

.img5 {
  width: 35vw;

}

.img6 {
  width: 35vw;

}

.img7 {
  width: 35vw;
}

.img8 {
  width: 50vw;
}

.img9 {
  width: 55vw;
}

.img10 {
  width: 35vw;
}

.danger {
  color: red;
}

.good {
  color: green;
}

.bold {
  font-weight: bold;
}


